# Database Connection
DATABASE_URL="file:./dev.db"

# RunwayML API Key
RUNWAYML_API_KEY=your_runwayml_key

# Google Studio API Key
GOOGLE_API_KEY=your_google_ai_studio_key

# Google Cloud 
GCP_PROJECT_ID=your_gcp_project_id
GCP_LOCATION=us-central1
GOOGLE_APPLICATION_CREDENTIALS=path/to/your-service-account.json

# FPT.AI (Dùng cho tiếng Việt chất lượng cao)
FPT_AI_API_KEY=your_fpt_ai_key
